* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0b0f;
    color: white;
}


/* Header */

header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    border-bottom: 1px solid #22222a;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #8b5cf6;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #aaa;
    text-decoration: none;
    font-size: 15px;
}

nav a:hover {
    color: white;
}


/* Hero */

.hero {
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 1000px;
    margin: auto;

    padding: 80px 30px;
}

.tag {
    color: #8b5cf6;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: clamp(45px, 7vw, 80px);
    line-height: 1;
    margin-bottom: 25px;
}

.hero h1 span {
    color: #8b5cf6;
}

.description {
    color: #999;
    max-width: 500px;
    line-height: 1.7;
    margin-bottom: 30px;
}

button {
    width: fit-content;

    padding: 14px 24px;

    border: none;
    border-radius: 8px;

    background: #8b5cf6;
    color: white;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #7042d4;
}


/* Analytics */

.analytics {
    max-width: 1000px;
    margin: auto;
    padding: 70px 30px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: end;

    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 35px;
}

select {
    background: #15151c;
    color: white;

    border: 1px solid #292933;

    padding: 12px 15px;
    border-radius: 7px;
}


/* Stats */

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;

    margin-bottom: 25px;
}

.stat-card {
    background: #131319;

    border: 1px solid #24242d;

    border-radius: 12px;

    padding: 25px;
}

.stat-card p {
    color: #888;
    margin-bottom: 10px;
}

.stat-card h3 {
    font-size: 28px;
    margin-bottom: 7px;
}

.stat-card span {
    color: #666;
    font-size: 13px;
}


/* Chart */

.chart-card {
    background: #131319;

    border: 1px solid #24242d;

    border-radius: 12px;

    padding: 30px;
}

.chart-header {
    margin-bottom: 35px;
}

.chart-header h2 {
    margin-bottom: 6px;
}

.chart-header p {
    color: #777;
}


/* Bars */

.bar-item {
    margin-bottom: 25px;
}

.bar-label {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

    font-size: 14px;
}

.bar-label strong {
    color: #aaa;
}

.bar-bg {
    height: 12px;

    background: #25252e;

    border-radius: 20px;

    overflow: hidden;
}

.bar {
    height: 100%;

    border-radius: 20px;

    transition: width 1s ease;
}

.chatgpt {
    background: #10a37f;
}

.gemini {
    background: #4285f4;
}

.copilot {
    background: #8b5cf6;
}

.claude {
    background: #d97706;
}

.source {
    color: #555;
    font-size: 12px;

    margin-top: 25px;
}


/* Footer */

footer {
    border-top: 1px solid #22222a;

    padding: 30px 8%;

    display: flex;
    justify-content: space-between;

    color: #666;
    font-size: 13px;
}


/* Mobile */

@media (max-width: 700px) {

    header {
        padding: 0 20px;
    }

    nav {
        display: none;
    }

    .hero {
        padding: 60px 20px;
    }

    .analytics {
        padding: 50px 20px;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    .section-title {
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
    }

    footer {
        padding: 25px 20px;
    }
}